doctype html
html
    body
        p #{oldmas}
            form(action="/sort", method="post") 
                input(type="submit", value="Отсортированный массивыв")
            form(action="/", method="get")
                input(type="submit", value="На главную")